.response, #errorFeedback, #selectedPizzas, #addMorePizzas, #completeOrder, #finalOrder {
  display: none;
}

body {
  background-image: url("../img/Pizza_Dimension.png");
  background-color: #ccc;
}
